footer {
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(165.00, 0%, 0%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0.00, 0%, 26%) 0, transparent 55%);
    color: white; 
    padding: 20px 0;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-left ul li a {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 16px;
}

.footer-logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
}

.footer-right .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #FFFFFF; 
}

.footer-bottom a {
    text-decoration: none;
    color: #007BFF; 
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: #89CFF0; 
}

/* Scroll to top button styles */
.scroll-top-button {
    background-color: #333333; 
    border: none; 
    padding: 10px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s; 
    width: 50px;
    height: 50px; 
}

.scroll-top-button:hover {
    background-color: #333333;
}

.scroll-icon {
    width: 100%; 
    height: auto; 
}

.ticket-icon {
    background-color: #4d4d4d;
    border: none; 
    padding: 0.1px; 
    border-radius: 50%; 
    bottom: 20px; 
    right: 20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s; 
    width: 50px;
    height: 50px; 
}

.uni-logo {
    width: 60px; 
    height: 60px;
    margin-right: 10px; 
}
